{% extends "base.html" %}
{% block main %}
  {% if messages %}
    <div>
      {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
  <span class="select-span w-100">
    <select name="category" id="category">
      <option value="" selected>All</option>
      {% for category in categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </span>
  <div class="table-container w-100">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const selectDiv = document.getElementById("category");
    selectDiv.addEventListener("change", () => {
    //EJECUTAR PETICION GET PARA OBTENER Y FILTRAR LOS LIBROS
    async function fetchBooks() {
      await fetch('http://127.0.0.1:8000/get_books');
    }
    });
  })
</script>
{% endblock %}