{% extends 'base_books.html' %}
{% block content %}
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col" class="th-title">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Distribution expenses</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <th scope="row">{{ book.isbn }}</th>
        <td class="td-title">{{ book.title }}</td>
        <td>{{ book.category }}</td>
        <td class="text-center">{{ book.distribution_expense }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}